<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rock Map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Mapbox and TurfJS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0/web.js"></script>
</head>
<body>
    <div id="map"></div>

    <div class="sidebar">
        <!-- Search bar container -->
        <div id="search-box"></div>

        <!-- Toggle map style -->
        <div id="menu">
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" checked="checked">
            <label for="satellite-streets-v12">satellite streets</label>
            <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
            <label for="outdoors-v12">outdoors</label>
        </div>

        <!-- Dropdown for rock types -->
        <div class="dropdown-box">
            <label for="dropdown1">Rock Types:</label>
            <select id="dropdown1">
                <option value="basalt">Basalt</option>
                <option value="olivine">Olivine</option>
                <option value="serpentinite">Serpentinite</option>
                <option value="wollastonite">Wollastonite</option>
                <option value="glauconite">Glauconite</option>
                <option value="kimberlite">Kimberlite</option>
                <option value="brucite">Brucite</option>
                <option value="feldspar">Feldspar</option>
                <option value="apatite">Apatite</option>
            </select>
        </div>

        <!-- Custom input -->
        <div class="input-box">
            <label for="input-text">Desired Area (m^2):</label>
            <input type="text" id="input-text">
        </div>

        <!-- Run button -->
        <button id="run-button">Run</button>
    </div>

    <!-- Modal for rock information -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <p id="modal-message"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>