<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rock Map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Mapbox and TurfJS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
</head>
<body>
    <div id="map"></div>

    <!-- Dropdown Box -->
    <div class="dropdown-box">
        <label for="dropdown1">Rock Types:</label>
        <select id="dropdown1">
            <option value="basalt">Basalt</option>
            <option value="olivine">Olivine</option>
            <option value="serpentinite">Serpentinite</option>
            <option value="wollastonite">Wollastonite</option>
            <option value="glauconite">Glauconite</option>
            <option value="kimberlite">Kimberlite</option>
            <option value="brucite">Brucite</option>
            <option value="feldspar">Feldspar</option>
            <option value="apatite">Apatite</option>
        </select>
        <a href="{{ url_for('main.home') }}">Home</a>

    </div>

    <div class="calculation-box">
        <p>Click to drop a point and expand the circle.</p>
        <div id="circle-info"></div>
    </div>

    <button id="run-button">Run</button>

    <div id="modal" class="modal">
        <div class="modal-content">
            <p id="modal-message"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>