<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Rock Map</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0/web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>
<body>
    <div id="map"></div>
    
    <div id="search-and-menu">
        <div id="search-box"></div>
        <div id="menu">
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" checked="checked">
            <label for="satellite-streets-v12">Satellite</label>
            <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
            <label for="outdoors-v12">Terrain</label>
        </div>

        <div id="toggle-switch">
            <input type="checkbox" id="map-toggle" class="toggle-input">
            <label for="map-toggle" class="toggle-label">
                <span class="toggle-handle"></span>
            </label>
        </div>
    </div>
    
    <div class="sidebar">
        <div class="top-controls">
            <button id="run-button">Run</button>

            <div class="mode-toggle">
                <input type="radio" id="basic-mode" name="mode-toggle" value="basic" checked>
                <label for="basic-mode">Basic</label>
                <input type="radio" id="advanced-mode" name="mode-toggle" value="advanced">
                <label for="advanced-mode">Advanced</label>
            </div>
        </div>
        
        <div class="dropdown-box">
            <label for="dropdown1">Rock Type:</label>
            <select id="dropdown1">
                <option value="basalt">Basalt</option>
                <option value="Olivine">Olivine</option>
                <option value="Calcite">Calcite</option>
                <option value="Wollastonite">Wollastonite</option>
                <option value="Glauconite">Glauconite</option>
                <option value="Portlandite">Portlandite</option>
                <option value="Larnite">Larnite</option>
                <option value="Dolomite">Dolomite</option>
                <option value="Vivianite">Vivianite</option>
            </select>
        </div>
    
        <div class="input-box">
            <label for="area-text">Desired Area (m²):</label>
            <input type="text" id="area-text">
        </div>

        <div class="input-box">
            <label for="feedstock-text">Feedstock Surface Density (kg/m²):</label>
            <input type="text" id="feedstock-text">
        </div>

        <div class="input-box">
            <label for="customSlider">Time Series (Years):</label>
            <input type="range" min="0" max="3" step = "1" value="0" id="customSlider">
            <div class="metrics">
                <span>50</span>
                <span>100</span>
                <span>150</span>
                <span>200</span>
            </div>
        </div>
        
        <div id="advanced-options" style="display: none;">
            <div class="input-box">
                <label for="occurrences-text">Number of Occurrences (N):</label>
                <input type="text" id="occurrences-text">
            </div>
            
            <label for="quantum-classical-toggle" class="bold-label">Random Sampler:</label>
            <div class="quantum-classical-toggle" id="quantum-classical-toggle">
                <input type="radio" id="classical" name="quantum-toggle" value="classical" checked>
                <label for="classical">Classical</label>
                <input type="radio" id="quantum" name="quantum-toggle" value="quantum">
                <label for="quantum">Quantum</label>
            </div>
        </div>

    </div>
    
    <div id="modal" class="modal">
        <div class="modal-content">
            <p id="modal-message"></p>
        </div>
    </div>

    <div class="popup-overlay" id="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="hidePopup()">&times;</span>
            <div id="chart-container">
                <canvas id="timeSeriesChart"></canvas>
            </div>
        </div>
    </div>
    

    <script src="{{ url_for('static', filename='apicalls.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <!-- <script src="{{ url_for('static', filename='apicalls.js') }}" defer></script> -->
</body>
</html>