body {
    margin: 0;
    padding: 0;
    display: flex;
}

#map {
    width: 75%;
    height: 100vh;  /* Full viewport height */
}

.sidebar {
    width: 25%;
    height: 100vh;  /* Full viewport height */
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
}

.dropdown-box, .input-box {
    margin-bottom: 20px;
}

.dropdown-box label, .input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dropdown-box select, .input-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#run-button {
    padding: 10px 20px;
    background-color: #007cbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#run-button:hover {
    background-color: #005f8f;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.modal p {
    font-size: 18px;
}

p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}