body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto Slab', serif;
}

#map {
    width: 75%;
    height: 100vh;
    position: relative;
}

#search-and-menu {
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-box {
    position: relative;
    z-index: 2;
}

#menu {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    left: 10px;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
}

.dropdown-box, .input-box {
    margin-bottom: 20px;
}

.dropdown-box label, .input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dropdown-box select, .input-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#run-button {
    padding: 10px 20px;
    background-color: #007cbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#run-button:hover {
    background-color: #005f8f;
}

/* Modal Overlay */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Box */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Aligns text and image in the modal */
.modal-content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Text Container */
.text-container {
    flex: 2;
    margin-right: 20px;
}

.modal-message {
    font-size: 18px;
    margin: 20px 0;
    font-family: 'Open Sans';
}

/* Image Container */
.image-container {
    text-align: center;
    flex: 1;
}

.image-container img {
    width: 150px;
    height: auto;
}

/* Progress Bar */
.wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    width: 0%;
    transition: width 500ms ease-in-out;
}

/* General Paragraph Styles */
p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}
